/* Hero */
.hero__tim {
    padding: 80px 0;
}
.hero__tim .foto__leader {
    width: 400px;
    height: 300px;
}
.hero__tim .caption {
    width: 600px;
    height: 300px;
}
/* End hero */

/* Card */
.card__content {
    padding: 2rem;
    border: 1px solid var(--dark-green);
    border-radius: 25px;
}
.card__content .gambar {
    height: 300px;
}
.card__content .icon {
    width: 30px;
    height: 30px;
    background-color: var(--dark-green);
    border-radius: 50%;
}
.card__content:hover {
    box-shadow: rgba(47, 96, 99, .3) 0px 8px 24px;
    transition: var(--main-trans);
}
/* End ard */